<!-- filepath: /Users/derekgonzalez/Documents/SecureShare/files/templates/files/home.html -->
{% extends 'files/base.html' %}

{% block title %}Home - SecureShare{% endblock %}

{% block content %}
<div class="text-center">
    <h1>Welcome to SecureShare</h1>
    <p class="lead">Securely upload, encrypt, and share your files.</p>
    <a href="/files/" class="btn btn-primary btn-lg">View My Files</a>
    <a href="/files/upload/" class="btn btn-success btn-lg">Upload a File</a>
</div>
{% endblock %}